# Xmake cache
.xmake/
build/

# clangd
.clangd

# obj,lib,binary files
libs/
bin/

# IDE
.vscode/
.idea/
.cache/
.vs/

#data
log
data
output

# MacOS Cache
.DS_Store

Doxyfile

test_resources

# cpp modules
gcm.cache

/readme
/scripts
